.users__container {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.user__container-view {
    width: 90%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-background-color);
    padding: 5px;
    border-radius: 10px;
}

.user__container-view .image__perfil, .user__container-view .image__perfil img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--button-color);
}

.social__methods {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__methods button {
    width: 80px;
    height: 35px;
    padding: 10px;
    border: solid 1px var(--secondary-background-color);
    border-radius: 20px;
    font-weight: bold;
    color: var(--button-color);
    background-color: var(--main-backgorund-color);
    font-size: 0.6rem;
    cursor: pointer;
}

.user__description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.user__description-ids {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user__description-ids .nick {
    text-decoration: none;
    color: #696975;
    font-size: 0.8rem;
}

.user__description-ids .nick:hover {
    color: var(--main-words-color);
}

.user__description-ids .name{
    font-size: 1rem;
}

.user__description-ids .bio {
    font-size: 0.6rem;
}

.move__paginate-users button {
    margin: 10px;
    width: 50px;
    height: 35px;
    padding: 10px;
    border: solid 1px var(--secondary-background-color);
    border-radius: 20px;
    font-weight: bold;
    color: var(--button-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
}

@media (width <= 430px){
    .user__container-view {
        align-items: center;
        flex-direction: column;
    }
}